* {
    margin: 0;
    padding: 0;
    font-family: "Arimo", sans-serif;
}

/* nav section start */
.container {
    max-width: 1600px;
    padding: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.nav-text {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    color: #575757;
    font-size: 16px;
    cursor: pointer;
    gap: 25px;
}

.common-btn {
    background-color: #1D4ED8;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

/* nav section end */

/* hero section star */
.hero-container {
    height: 60vh;
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container-text {
    height: 70%;
    width: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.hero-top {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-container h1 {
    font-size: 60px;
    color: white;
}

.hero-container p {
    font-size: 20px;
    color: white;
    line-height: 1.6;
}